* {
  counter-reset:li; /* Inicia o contador */      
  margin-left:0; /* Remove margin padrão */      
  padding-left:0
 


}
body {
  width: 100%;
  height: 100%;
}


.logo{
  display: flex;
  flex-direction: row;
}

.firt_sesh {
  width: 1200px;
  height: 80vh;
  background-color: rgb(182, 180, 180);
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
}

.card-group {
gap:5px;

}

.about {
  width: 100%;
  height: 400px;
}




